.space {
      background-color: white;
      height: 100%;


}
.space1 {
      background-color: grey;
      height: 100%;
      /* border-radius: 50% 20% / 10% 40%; */

}
.content{
      /* padding: 50px; */
      /* position: relative; */
      /* width: 60%; */
      height: 100%;
}
.content:after {
  content: "";
  display: block;
  /* padding-bottom: 100%; */
}
.highlight {
      background-color: LightCoral;
      opacity: 0.6;
      /* border-radius: 50% 20% / 10% 40%; */
      position: relative;
      /* width: 60%; */
}
.highlight:after {
  content: "";
  opacity: 0.6;
  display: block;
  /* padding-bottom: 100%; */
  background-color: LightCoral;
}
.image{
      width: auto;
      height:60%;
}
